.header {
  padding: 7% 6%;
  margin-bottom: 4.2rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-holder {
  width: 30%;
  max-width: 15rem;
}
.header__logo {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 500px) {
  .header {
    padding: 7% 6%;
    margin-bottom: 5.3rem;
  }
}
